a{
  text-decoration: none;
  color:black;
}
*{
    padding:0;
    margin:0
}
li{
  list-style:none;
}
input,button,textarea{
  outline:none;
  border:none;
}
.w1{
  width:1200px;
  margin:0 auto;
}
.w2{
  width:900px;
  margin:0 auto;
}

/* 或者:root */
html{
  --color-school:#005d6e;
  --color-shadow:rgb(170, 166, 166);
}
.clear-fix::after {
  clear: both;
  content: '';
  display: block;
  width: 0;
  height: 0;
  visibility: hidden;
}
.clear-fix {
  zoom: 1;
}
h1,h2,h3,h4,h5,h6{
  margin:0;
  padding:0;
}
.user-ID{
  margin:0 5px;
  padding:0 5px;
  background-color: gold;
  color:var(--color-school);
  font-weight:700
}